.ATM-base-style {
  background-color: rgb(172, 164, 164);
  height:600px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.atm-button {
  padding: 10px;
  margin: 1px;
  width:103px;
  background-color: lightgray;
  &:hover {
    background-color: white;
    border: 2px solid black;
  }
}
.main-display {
  background-color: lightgreen;
  width: 80%;
  height: 40%;
  margin: 0 10% 0 10%;
  align-items: center;
  display: flex;
  position: relative;
}
.customer {
  background-color: rgb(153, 102, 102);
  height: 400px;
  width: 200px;
}
.customer-atm-display {
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
}
.button-layout {
  margin-left: 10%;
  margin-right: 10%;
  grid-template-columns: auto;
  
}
.message-display {
  width: 100%;
  text-align: center;
}