.P1Main {
  background-color: rgb(60, 60, 55);
}
.P1-abilities-container{

}
.P1-ability-name {
  width: fit-content;
}
.P1-col-ability-style {
  background-color: lightcoral;
  border: 1px solid black;
  margin-bottom: 2px;
  border-radius: 3px;
}
.P1-pokecard-Card-Header {
  background-color: blue;
}

// CARD COLORS
.P1-card-image-fire {
  background: linear-gradient(#ed3f0d,black)
}
.P1-card-image-grass {
  background: linear-gradient(#72c034,black)
}
.P1-card-image-normal {
  background: linear-gradient(#a9ba1e, black)
}
.P1-card-image-water {
  background: linear-gradient(#2e8be4, rgb(22, 22, 22))
}
.P1-card-image-bug {
  background: linear-gradient(#a9ba1e, black)
}
.P1-card-image-fighting {
  background: linear-gradient(#743725, black)
}
.P1-card-image-psychic {
  background: linear-gradient(rgb(255, 96, 122), purple, black)
}
.P1-card-image-ghost {
  background: linear-gradient(#605eb0, black)
}
.P1-card-image-dragon {
  background: linear-gradient(#7760de, black)
}
.P1-card-image-ice {
  background: linear-gradient(#6fd5f7, black)
}
.P1-card-image-rock {
  background: linear-gradient(#9e863c, black)
}
.P1-card-image-poison {
  background: linear-gradient(#944896, black)
}
.P1-card-image-electric {
  background: linear-gradient(#f5b615, black)
}
