.x-remove-todo-button {
  right: 0;
  position: absolute;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  &:hover {
    background-color: lightgray;
  }
}
.editTTodo {
  cursor: pointer;
  width: fit-content;
}