.x-remove-todo-button {
  right: 0;
  position: absolute;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  &:hover {
    background-color: lightgray;
  }
}
.editTTodo {
  cursor: pointer;
  width: fit-content;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.TT-input-form {

}
.TT-todo-date-input {
  height: 100px;
}
.TT-todo-task-input {
  height: 100px;
  vertical-align: top;
}